@{
    ViewBag.Title = "EmergencyOrder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="col-xs-12" style="height:80px; width:100%"></div>
</div>
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-10" style="width: 75%; background-color: black;margin-right:0">
        <h1>Admin<span class="icon fa-angle-double-left"></span>Emergency Orders</h1>
        <ul>
            <li style="color: black">
                <input type="text" placeholder="Search By Name" id="name" style="height: 40px; width: 20%; border-radius: 5px; font-family: Gabriola; font-size: 22px; margin-top: 10px; " />
                <button><span class="icon fa-search"></span></button>

                <input type="text" placeholder="Search By UserName" id=" uname" style="height: 40px; width: 20%; border-radius: 5px; font-family: Gabriola; font-size: 22px; margin-top: 10px; " />
                <button><span class="icon fa-search"></span></button>

            </li>


        </ul>
        <ul class="nav nav-tabs">
            <!-- <li class="active"><a data-toggle="tab" href="#home" style="color:gray;">Form</a></li>-->
            <li><a data-toggle="tab" href="#menu1" style="color: gray;">Emergency List</a></li>
        </ul>
        <div class="container">
            <div class="tab-content">



                <!--waste<div id="home" class="tab-pane fade in active ">
                    <form class="well form-horizontal" action=" " method="post" id="contact_form" style="margin-top:10px;width:92%;background-color:black">
                        <fieldset>



                            <div class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-4" style="margin-top:3px;">
                                    <input type="text" class="form-control" name="firstName" placeholder="First name"
                                           data-fv-row=".col-sm-4"
                                           data-fv-notempty="true"
                                           data-fv-notempty-message="The first name is required" />
                                </div>

                                <div class="col-sm-4" style="margin-top:3px;">
                                    <input type="text" class="form-control" name="lastName" placeholder="Last name"
                                           data-fv-row=".col-sm-4"
                                           data-fv-notempty="true"
                                           data-fv-notempty-message="The last name is required" />
                                </div>
                            </div>



                            <div class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-4" style="margin-top:3px;">
                                    <input type="text" class="form-control" name="email" placeholder="E-mail"
                                           data-fv-notempty="true"
                                           data-fv-notempty-message="The email address is required"
                                           data-fv-emailaddress="true"
                                           data-fv-emailaddress-message="The input is not a valid email address" />
                                </div>

                                <div class="col-sm-4" style="margin-top:3px;">
                                    <input type="password" class="form-control" name="password" placeholder="Password"
                                           data-fv-row=".col-sm-4"
                                           data-fv-notempty="true"
                                           data-fv-notempty-message="The password is required"
                                           data-fv-different="true"
                                           data-fv-different-field="username"
                                           data-fv-different-message="The password cannot be the same as username" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-4" style="margin-top:3px;">
                                    <input type="text" class="form-control" name="email" placeholder="Contact Number"
                                           data-fv-notempty="true"
                                           data-fv-notempty-message="The Contact Number is required" />
                                </div>

                                <div class="col-sm-4" style="margin-top:3px;">
                                    <input type="password" class="form-control" name="password" placeholder="Alternative Number"
                                           data-fv-row=".col-sm-4"
                                           data-fv-notempty="true"
                                           data-fv-notempty-message="The Contact Number is required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-4" style="margin-top:3px;">
                                    <input type="date" class="form-control" name="date" placeholder="Date of Birth"
                                           data-fv-notempty="true"
                                           data-fv-notempty-message="The Date of birth is required" />
                                </div>
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-4" style="margin-top:3px;">
                                    <textarea class="form-control" name="message" id="message" placeholder="Permanent Address" rows="6" style="background-color:#333;"
                                              data-fv-notempty="true"
                                              data-fv-notempty-message="The Address is required"></textarea>

                                </div>
                            </div>
                            <label class="col-sm-3 control-label" style="margin-top:-8%;margin-left:15%;">Select Your Gender</label>
                            <div class="col-sm-6" style="margin-top:-5%;margin-left:30%;">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="gender" value="male"
                                               data-fv-notempty="true"
                                               data-fv-notempty-message="The gender is required" /> Male
                                    </label>

                                    <label>
                                        <input type="radio" name="gender" value="female" /> Female
                                    </label>
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-sm-6 col-sm-offset-3" style="margin-top:-3%;">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="agree" value="agree"
                                                   data-fv-notempty="true"
                                                   data-fv-notempty-message="You must agree with the terms and conditions" /> Agree with the terms and conditions
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-9 col-xs-offset-3" style="margin-left:50%;">
                                    <button type="submit" style="background-color:rgba(49, 50, 49, 0.66)" name="signup" value="Sign up">Submit</button>
                                </div>
                            </div>


                            <script>
                                // Check the captcha
                                function checkCaptcha(value, validator, $field) {
                                    var items = $('#captchaOperation').html().split(' '),
                                        sum = parseInt(items[0]) + parseInt(items[2]);
                                    return value == sum;
                                }

                                $(document).ready(func tion () {
                                    // Generate a simple captcha
                                    function randomNumber(min, max) {
                                        return Math.floor(Math.random() * (max - min + 1) + min);
                                    }
                                    $('#captchaOperation').html([randomNumber(1, 100), '+', randomNumber(1, 200), '='].join(' '));

                                    $('#basicBootstrapForm').formValidation();
                                });
                            </script>

                        </fieldset>
                    </form>
                </div>-->



                <div id="menu1" class="tab-pane fade in active ">
                    <div style="overflow:scroll; width:87%; height:250px;">
                        <div class="row ">
                            <div class="col-xs-12">
                                <table class="table table-inverse" style="margin-top: 10px; width: 1500px; height: auto; background-color: rgba(41, 43, 43, 0.59);">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>

                                            <th>E-mail</th>
                                            <th>Password</th>
                                            <th>Medicine Name</th>
                                            <th>Amount Of Medicine</th>
                                            <th>Contact No</th>
                                            <th>Alt NO</th>
                                            <th>Address</th>
                                            <th>D.O.B</th>
                                            <th>Gender</th>
                                            <th>Operation</th>
                                        </tr>
                                       
                                        
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>

                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="dropdown">
                                                    <button class="btn btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                                                        Delete

                                                    </button>

                                                </td>
                                            </tr>
                                        

                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
