@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}



<nav class="navbar navbar-inverse navbar-fixed-top " style="margin-top:65px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">User Profile</a>
        </div>
        <div>
            <div class="collapse navbar-collapse" id="myNav">

                <ul class="nav navbar-nav navbar-right" style="margin-right: 3%; background-color: rgb(35, 35, 35)">
                    <li><a class="md-trigger" data-modal="modal-eo" id="button3" href="#" onmouseover="    this.style.color = ' #34a58e'" onmouseout="    this.style.color = ' whitesmoke'" style=" font-family: Gabriola; color: whitesmoke; font-size: 20px; margin-top: 10px;"><span class="fa fa-user-md" style="color: #34a58e; font-size: 15px;"></span> Emergency Order</a></li>
                    <li class="dropdown">
                        <a href="#" onmouseover="    this.style.color = ' #34a58e'" onmouseout="    this.style.color = ' whitesmoke'" class="dropdown-toggle" data-toggle="dropdown" style=" font-family: Gabriola; color: whitesmoke; font-size: 20px; margin-top: 10px;"><span class="glyphicon glyphicon-user" style="color: #34a58e; font-size: 15px;"></span>Account<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" style="background-color: rgba(49, 50, 49, 0.9);">
                            <li><a href="/User/Profile" style="color:white;">Setting</a></li>
                            <li><a href="/Home/Main" style="color:white;">LogOut</a></li>

                        </ul>
                </ul>
            </div>
        </div>
    </div>

</nav>

<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-11" style="width: 75%;margin-left:5%;margin-top:130px; background-color: rgba(49, 50, 49, 0.97);margin-right:0">
        <h1>Profile</h1>
        <ul class="nav nav-tabs">
            <!--<li class="active"><a data-toggle="tab" href="#home" style="color:gray;">Data</a></li>
             <li><a data-toggle="tab" href="#menu1" style="color: gray;">Data</a></li>-->
        </ul>
        <div class="container">
            <div class="tab-content">
                <!-- <div id="home" class="tab-pane fade in active ">
                            <form class="well form-horizontal" action=" " method="post" id="contact_form" style="margin-top:10px;width:92%;background-color:black">
                                <fieldset>



                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-4" style="margin-top:3px;">
                                            <input type="text" class="form-control" name="firstName" placeholder="First name"
                                                   data-fv-row=".col-sm-4"
                                                   data-fv-notempty="true"
                                                   data-fv-notempty-message="The first name is required" />
                                        </div>

                                        <div class="col-sm-4" style="margin-top:3px;">
                                            <input type="text" class="form-control" name="lastName" placeholder="Last name"
                                                   data-fv-row=".col-sm-4"
                                                   data-fv-notempty="true"
                                                   data-fv-notempty-message="The last name is required" />
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-4" style="margin-top:3px;">
                                            <input type="text" class="form-control" name="email" placeholder="E-mail"
                                                   data-fv-notempty="true"
                                                   data-fv-notempty-message="The email address is required" />
                                        </div>

                                        <div class="col-sm-4" style="margin-top:3px;">
                                            <input type="tel" class="form-control" name="order" placeholder="Order Number"
                                                   data-fv-row=".col-sm-4"
                                                   data-fv-notempty="true"
                                                   data-fv-notempty-message="The Order Number is required" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-4" style="margin-top:3px;">
                                            <input type="tel" class="form-control" name="email" placeholder="Contact Number"
                                                   data-fv-notempty="true"
                                                   data-fv-notempty-message="The Contact Number is required" />
                                        </div>

                                        <div class="col-sm-4" style="margin-top:3px;">
                                            <input type="tel" class="form-control" name="password" placeholder="Alternative Number"
                                                   data-fv-row=".col-sm-4"
                                                   data-fv-notempty="true"
                                                   data-fv-notempty-message="The Contact Number is required" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-4" style="margin-top:3px;">
                                            <input type="password" class="form-control" name="order amount" placeholder="Amount"
                                                   data-fv-row=".col-sm-4"
                                                   data-fv-notempty="true"
                                                   data-fv-notempty-message="The Amount is required" />
                                        </div>
                                        <div class="col-sm-4" style="margin-top:3px; ">
                                            <input type="text" class="form-control" name="medicinename" placeholder="Medicine Name"
                                                   data-fv-row=".col-sm-4"
                                                   data-fv-notempty="true"
                                                   data-fv-notempty-message="The Medicine name is required" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-4" style="margin-top:3px;">
                                            <input type="date" class="form-control" name="date" placeholder="Date of Birth"
                                                   data-fv-notempty="true"
                                                   data-fv-notempty-message="The Date of birth is required" />
                                        </div>
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-4" style="margin-top:1px;">
                                            <textarea class="form-control" name="message" id="message" placeholder="Permanent Address" rows="6" style="background-color:#333;"
                                                      data-fv-notempty="true"
                                                      data-fv-notempty-message="The Address is required"></textarea>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label "></label>
                                        <div class="col-sm-4" style="margin-top:-100px; ">
                                            <select name="status" class="control" style="background-color:#333;">
                                                <option value=" ">Status:</option>
                                                <option>Pending</option>
                                                <option>Delivered</option>
                                                <option>Cancel</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6 col-sm-offset-3" style="margin-top:-5%;">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="agree" value="agree"
                                                           data-fv-notempty="true"
                                                           data-fv-notempty-message="You must agree with the terms and conditions" /> Agree with the terms and conditions
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-xs-9 col-xs-offset-3" style="margin-left:50%;">
                                            <button type="submit" style="background-color:rgba(49, 50, 49, 0.66)" name="signup" value="Sign up">Submit</button>
                                        </div>
                                    </div>


                                    <script>
                                        // Check the captcha
                                        function checkCaptcha(value, validator, $field) {
                                            var items = $('#captchaOperation').html().split(' '),
                                                sum = parseInt(items[0]) + parseInt(items[2]);
                                            return value == sum;
                                        }

                                        $(document).ready(function () {
                                            // Generate a simple captcha
                                            function randomNumber(min, max) {
                                                return Math.floor(Math.random() * (max - min + 1) + min);
                                            }
                                            $('#captchaOperation').html([randomNumber(1, 100), '+', randomNumber(1, 200), '='].join(' '));

                                            $('#basicBootstrapForm').formValidation();
                                        });
                                    </script>

                                </fieldset>
                            </form>
                        </div>

                -->
                <div class="row">
                    <div class="col-xs-12">
                        <table style="margin-top: 10px; width: 86%; background-color: black">
                            <thead>
                                <tr>
                                    <td colspan="2">
                                        <img src="/images/profile.png" class="img-circle" style="width:26%;height:200px;margin-left:10%;margin-top:20px;" /><br />
                                        <button type="submit" style="background-color: rgba(49, 50, 49, 0.66); border-radius: 20px; margin-left: 16%; ">Change</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; color: white; height: 50px; font-family: Gabriola; font-size: 25px;">First Name</td>
                                    <td>.......</td>
                                </tr>
                                <tr>

                                    <td style="text-align: center; color: white; height: 50px; font-family: Gabriola; font-size: 25px; ">Last Name</td>
                                    <td>.......</td>
                                </tr>
                                <tr>

                                    <td style="text-align: center; color: white; height: 50px; font-family: Gabriola; font-size: 25px; ">Contact No</td>
                                    <td>.......</td>
                                </tr>
                                <tr>

                                    <td style="text-align: center; color: white; height: 50px; font-family: Gabriola; font-size: 25px; ">Alt Contact No</td>
                                    <td>.......</td>
                                </tr>
                                <tr>

                                    <td style="text-align: center; color: white; height: 50px; font-family: Gabriola; font-size: 25px; ">Address</td>
                                    <td>.......</td>
                                </tr>
                                <tr>

                                    <td style="text-align: center; color: white; height: 50px; font-family: Gabriola; font-size: 25px; ">E-mail</td>
                                    <td>.......</td>
                                </tr>
                                <tr>

                                    <td style="text-align: center; color: white; height: 50px; font-family: Gabriola; font-size: 25px; ">Password</td>
                                    <td>.......</td>
                                </tr>
                                <tr>

                                    <td style="text-align: center; color: white; height: 50px; font-family: Gabriola; font-size: 25px; ">Date of Birth</td>
                                    <td>.......</td>
                                </tr>
                                <tr>

                                    <td style="text-align: center; color: white; height: 50px; font-family: Gabriola; font-size: 25px; ">Gender</td>
                                    <td>.......</td>
                                </tr>
                                <tr>

                                    <td> <button type="submit" style="background-color: rgba(49, 50, 49, 0.66); margin-left: 70%;margin-bottom:40px;margin-top:30px;">Edit</button></td>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height:100px;width:100%">

</div>
