@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<html>

<head>
    <title>Med-deliver</title>
    <style type="text/css">
        .pic {
            width: 100px;
            height: 100px;
            border-radius:10px;
        }

        .picbig {
            width: 0px;
            position: absolute;
            -webkit-transition: width 0.3s linear 0s;
            transition: width 0.3s linear 0s;
            z-index: 10;
            border-radius:10px;
        }

        .pic:hover + .picbig {
            width: 200px;
            }
    </style>
    
    <style>
        .highlight {
            display: block;
            position: relative;
            /*min-height: 800px;*/
            min-height: 520px;
            
            background-repeat: no-repeat;
            /*padding-top: 200px;*/
            padding-top: 80px;
            /*background-size: cover;*/

        }

         
        .highlight {
            position: relative;
            height: 900px;
            cursor: pointer;
            background-size: auto 110%;
            background-position: center center;
            -moz-transition: background-size 3s ease;
            -webkit-transition: background-size 3s ease;
            transition: background-size 3s ease;
            
        }

            .highlight:hover {
                background-size: auto 130%;
                background-color: white;
                -moz-transition: background-size 3s ease;
                -webkit-transition: background-size 3s ease;
                transition: background-size 3s ease;
            }

            .highlight:before {
                content: ' ';
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.23); /*ye*/
                -moz-transition: background-color 3s ease;
                -webkit-transition: background-color 3s ease;
                transition: background-color 3s ease;
            }

            .highlight:hover:before {
                background-color: rgba(0, 0, 0, 0.23); /*ye*/
                -moz-transition: background-color 3s ease;
                -webkit-transition: background-color 3s ease;
                transition: background-color 3s ease;
            }

        h2.major {
            border-bottom: solid 1px #ffffff;
            width: min-content;
            padding-bottom: 0.5rem;
            color: #ffffff;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            margin-left: 3%;
            font-size: 30px;
            margin-top: -17px;
        }

        p.major {
            margin: 1rem 0 2rem 0;
            font-size: 1.5rem;
            color: white;
            font-family: 'Adobe kaiti Std';
            margin-left: 1.5rem;
            line-height: 1.2;
            margin-right: 1.5rem;
            letter-spacing: 0.02rem;
        }

        a.major {
            -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
            -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
            -ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
            transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
            border-bottom: dotted 1px rgba(255, 255, 255, 0.5);
            text-decoration: none;
            color: inherit;
            text-decoration: none;
        }

        a:hover {
            border-bottom-color: #34a58e;
        }

        li.major {
            margin-top: -25px;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            font-size: 1.5rem;
            color: #a8a8bf;
            font-family: 'Adobe kaiti Std';
            list-style: none;
            border-bottom-color: #34a58e;
        }



    </style>
    </head>
<body>
    <div class="highlight" style="background-image: url(/images/n.png); background-color: white; ">
        <div class="row" style="margin-left: 20%; margin-right: 20%; color: #505051; font-size: 18px; margin-top: 50px; ">
            <h1 style="text-align: center; color: #34a58e; font-family: 'Adobe Kaiti Std';font-size:60px;">MED DELIVER</h1>
           <h2 style=" margin-top: 50px; font-size: 23px; color:#333">Now whenever you need any medicines, save yourself the bother of a trip to the pharmacy. Just a call can get them delivered to your doorstep. Our officers are provided with special containers to make sure the medicine reach you in perfect condition.</h2>
        </div>
        <ul class=" nav navbar-nav navbar-center" style="padding-left:28%; margin-top: 40px;margin-right:0; ">
            <li>
                <form method="get" action="/Home/Main">
                    <button style="width: 140px; background-color: rgba(49, 50, 49, 0.66);">Home</button>
                </form>
            </li>
            <li>
                <button class="md-trigger" data-modal="modal-16" style="width: 140px; background-color: rgba(49, 50, 49, 0.66); ">About</button>
            </li>
            <li>
                <button class="md-trigger" data-modal="modal-15" style=" width: 140px; background-color: rgba(49, 50, 49, 0.66);">Services</button>
            </li>
            <li>
                <button class="md-trigger" data-modal="modal-17" style="width: 140px; background-color: rgba(49, 50, 49, 0.66); ">Order</button>
            </li>
        </ul></div>
    
        <!--<div style="width:100%;margin-top:-20px;">

            <header id=" mycarousel" class="carousel slide">
                <!-- Indicators -->
        <!--<ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
        <!-- Wrapper for Slides -->
        <!--<div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
        <!--     <div class="fill" style="background-image: url(/images/slider4.jpg); width: 100%; height: 500px;"></div>
             <div class="carousel-caption">
                 <p style="font-size: 35px; font-family: Gabriola; color: whitesmoke; ">Wherever the art of medicine is loved, there is also a love of humanity.</p>
                 <h2 style="color: whitesmoke; ">Hippocrates</h2>
             </div>
         </div>
         <div class="item">
             <!-- Set the second background image using inline CSS below. -->
        <!--    <div class="fill" style="background-image: url(/images/slider2.jpg); width: 100%; height: 500px;"></div>
            <div class="carousel-caption">
                <p style="font-size: 35px; font-family: Gabriola; color: whitesmoke; ">Medicine is a science of uncertainty and an art of probability.</p>
                <h2 style="color: whitesmoke; ">William Osler</h2>
            </div>
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
        <!--  <div class="fill" style="background-image: url(/images/slider3.jpg); width: 100%; height: 500px;"></div>
            <div class="carousel-caption">
                <p style="font-size: 35px; font-family: Gabriola; color: whitesmoke; ">Therefore in medicine we ought to know the causes of sickness and health. </p>
                <h2 style="color: whitesmoke; ">Avicenna</h2>
            </div>
        </div>
        <div class="item">
            <!-- Set the forth background image using inline CSS below. -->
        <!-- <div class="fill" style="background-image: url(/images/slider4.jpg); width: 100%; height: 500px;"></div>
            <div class="carousel-caption">
                <p style="font-size: 35px; font-family: Gabriola; color: whitesmoke; ">The art of medicine consists in amusing the patient while nature cures the disease. </p>
                <h2 style="color: whitesmoke; ">Voltaire</h2>
            </div>
        </div>
        <div class="item">
            <!-- Set the fifth background image using inline CSS below. -->
        <!--<div class="fill" style="background-image: url(/images/slider5.jpg); width: 100%; height: 500px;"></div>
                        <div class="carousel-caption">
                            <p style="font-size: 35px; font-family: Gabriola; color: whitesmoke; ">Medicine rests upon four pillars - philosophy, astronomy, alchemy, and ethics.</p>
                            <h2 style="color: whitesmoke;">Paracelsus</h2>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </header>
        </div>
        <!-- jQuery -->
        <!--<script src="js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <!-- <script src="js/bootstrap.min.js"></script>
         <!-- Script to Activate the Carousel -->
        <!--<script>
            $('.carousel').carousel({
                interval: 4000 //changes the speed
            })
        </script>
        <div class="clearfix"> </div>
        <!--<div class="container" style="margin-top:20px;width:100%;">
            <div class=" col-md-4" style="border: inset; border-color: rgb(245, 245, 245); width: 350px; margin-left: 3.2%; margin-right: 40px; border-radius: 10px; " onmouseover="this.style.background = 'rgba(166, 226, 255, 0.901961)';" onmouseout="    this.style.background = 'white';">
                <p style="margin-left:60px;"><img src="/images/up.png" width="180" height="140" /></p>
                <p style="margin-left: 25px; font-size: 15px; font-family: 'Adobe Kaiti Std';">
                    Heavy traffic,lack of parking, monsoons, shop closed,forgetfulness…
                    are some of the reasons that could lead to skipping of vital medications. Since taking medicines regularly is a critical component of managing chronic medical conditions,
                    it's best not to run out of essential medicines. Just log on to netmeds.com, place your order online and have your medicines delivered to you – without leaving the comfort of your home.
                </p>
            </div>
            <div class="col-md-4" style="border: inset; border-color: rgb(245, 245, 245); width: 350px; margin-left: 3.2%; margin-right: 40px; border-radius: 10px; " onmouseover="this.style.background = ' rgba(166, 226, 255, 0.901961)';" onmouseout="    this.style.background = 'white';">
                <p style="margin-left:50px; margin-top:20px;"><img src="/images/22.png" width="190" height="123" /></p>
                <p style="margin-left: 25px; margin-right: 5px; font-size: 15px; font-family: 'Adobe Kaiti Std';">
                    At med-deliver.com, we not only provide you with a wide range of medicines listed under various categories,
                    we also offer a wide choice of products including wellness products, vitamins, diet/fitness supplements, herbal products,
                    pain relievers, diabetic care kits, baby/mother care products, beauty care products and surgical supplies at one place.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
            </div>
            <div class="col-md-4" style="border: inset; border-color: rgb(245, 245, 245); width: 350px; margin-left: 3.2%; margin-right: 40px; border-radius: 10px; " onmouseover="this.style.background = 'rgba(166, 226, 255, 0.901961)';" onmouseout="    this.style.background = 'white';">
                <p style="margin-left:40px;"><img src="/images/0.png" width="220" height="123" /></p>
                <p style="margin-left: 30px; margin-right: 15px; font-size: 15px; font-family: 'Adobe Kaiti Std';">
                    We are committed to provide safe, reliable and affordable medicines as well as a customer service philosophy that is worthy of our valued customers'loyalty.
                    We offer a superior online shopping experience, which includes easy access to reliable medicine information, you get to know all about your medicine at this place, and once you're a Med-Deliver's customer, you'll get medicines at your comfort level.
                </p>
            </div>

        </div>-->

        
        <div class="container">
            <h2 style="font-size: 30px; color: firebrick;text-align:center; ">Types of Doctors and What They Deal For:</h2>
            <br>
            <!-- Left-aligned media object -->
            <div class="media">
                <div class="media-left">
                    <img src="/images/ok.jpg" class="pic">
                    <img src="/images/ok.jpg" class="picbig">
                </div>
                <div class="media-body">
                    <h1 class="media-heading" style="font-family: Gabriola; color: #34a58e; "><b>Allergist</b></h1>
                    <p style="color: black; font-size: 15px; font-family: 'Adobe Kaiti Std'; color: #333; ">Allergists work with a wide variety of patients who suffer from issues related to allergies, such as hay, fever, or asthma. They are specially trained to treat these issues and assist patients in dealing with them and what to do when they are encountered.</p>
                </div>
            </div>
            <hr>
            <div class="media">
                <div class="media-body">
                    <h1 class="media-heading" style="font-family: Gabriola; color: #34a58e; "><b> Dentist</b></h1>
                    <p style="color: black; font-size: 15px; font-family: 'Adobe Kaiti Std';color: #333">Dentists work with the human mouth, examining teeth and gum health and preventing and detecting various different issues, such as cavities and bleeding gums. Typically, patients are advised to go to the dentist twice a year in order to maintain tooth health.</pstyle>
                </div>
                <div class="media-right">
                    <img src="/images/tooth.jpg" class="pic">
                    <img src="/images/tooth.jpg" class="picbig">
                </div>
            </div>
            <hr>
            <div class="media">
                <div class="media-left">
                    <img src="/images/ear.jpg" class="pic">
                    <img src="/images/ear.jpg" class="picbig">
                </div>
                <div class="media-body">
                    <h1 class="media-heading" style="font-family: Gabriola; color: #34a58e; "><b> Audiologist</b></h1>
                    <p style="color: black; font-size: 15px; font-family: 'Adobe Kaiti Std';color: #333">Audiologists specialize in ear related issues, particularly with regard to hearing loss in children. These doctors work with deaf and mute children to assist in their learning to communicate. They typically work in hospitals, physicians’ offices, audiology clinics, and occasionally in schools.</p>
                </div>
            </div>
            <hr>
            <div class="media">
                <div class="media-body">
                    <h1 class="media-heading" style="font-family: Gabriola; color: #34a58e; "><b> Cardiologist</b></h1>
                    <p style="color: black; font-size: 15px; font-family: 'Adobe Kaiti Std';color: #333">Cardiologists specify in the study and treatment of the heart and the many diseases and issues related to it. They assess the medical and family history of patients to determine potential risk for certain cardiovascular diseases and take action to prevent them.</p>
                </div>
                <div class="media-right">
                    <img src="/images/heart.jpg" class="pic">
                    <img src="/images/heart.jpg" class="picbig">
                </div>
            </div>
            <hr>
            <div class="media">
                <div class="media-left">
                    <img src="/images/b.png" class="pic">
                    <img src="/images/b.png" class="picbig">
                </div>
                <div class="media-body">
                    <h1 class="media-heading" style="font-family: Gabriola; color: #34a58e; "><b> Neurosurgeon</b></h1>
                    <p style="color: black; font-size: 15px; font-family: 'Adobe Kaiti Std';color: #333">Neurosurgeons operate on the human brain and body to treat and cure diseases affecting the nervous system and brain stem. They work to alleviate symptoms from serious brain illnesses that cause patients a great deal of physical and emotional pain.</pstyle>
                </div>
            </div>
            <hr>
            <div class="media">
                <div class="media-body">
                    <h1 class="media-heading" style="font-family: Gabriola; color: #34a58e; "><b> Epidemiologist</b></h1>
                    <p style="color: black; font-size: 15px; font-family: 'Adobe Kaiti Std';color: #333">Epidemiologists search for potential diseases that may crop up and cause a great deal of problems for a population and look for vaccinations for current terminal diseases, such as cancer and HIV/AIDS.</p>
                </div>
                <div class="media-right">
                    <img src="/images/HIV.jpg" class="pic" style="border-radius:10px;">
                    <img src="/images/HIV.jpg" class="picbig" style="border-radius:10px;"><br /><br /><br /><br /><br />
                </div>
            </div>
        </div>
</body>
</html>